<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="2.6.0-ci1358" targetFramework="net472" />
  <package id="ParallelExtensionsExtras" version="1.2.0.0" targetFramework="net472" />
  <package id="ShowMeTheXAML" version="1.0.13-ci65" targetFramework="net472" />
  <package id="ShowMeTheXAML.MSBuild" version="1.0.13-ci65" targetFramework="net472" />
</packages>